<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
  <title>date-picker</title>
</head>
<body>

<div id="root">


  <h3 class="ui-title"><span>date-picker - 日期 （当前时间）</span></h3>

  <div class="content-box">
    <input type="text" class="input-date" placeholder="请选择日期" />
  </div>


  <h3 class="ui-title"><span>date-picker - 日期 + 时间 (隐藏头部)</span></h3>

  <div class="content-box">
    <input type="text" class="input-date-time" placeholder="请选择日期时间" />
  </div>


  <h3 class="ui-title"><span>date-picker - 日期 + 时间 (设置默认日期 2015-05-01、且日期只显示三行)</span></h3>

  <div class="content-box">
    <input type="text" class="input-date-custom" placeholder="请选择日期时间" />
  </div>

  <!-- <div class="date-picker bottom in">
    <div class="date-picker-title">
      <div class="col-group">
        <div class="col-33"><strong>YYYY</strong></div>
        <div class="col-33"><strong>MM</strong></div>
        <div class="col-33"><strong>DD</strong></div>
      </div>
    </div>
    <div class="date-picker-content">
      <div class="col-group">
        <div class="col-33">
          <div class="picker-group">
            <div class="picker-item">2010</div>
            <div class="picker-item">2011</div>
            <div class="picker-item">2012</div>
            <div class="picker-item">2013</div>
          </div>
        </div>
        <div class="col-33">
          <div class="picker-group">
            <div class="picker-item">01</div>
            <div class="picker-item">02</div>
            <div class="picker-item">03</div>
            <div class="picker-item">04</div>
            <div class="picker-item">05</div>
            <div class="picker-item">06</div>
            <div class="picker-item">07</div>
            <div class="picker-item">08</div>
            <div class="picker-item">09</div>
            <div class="picker-item">10</div>
            <div class="picker-item">11</div>
            <div class="picker-item">12</div>
          </div>
        </div>
        <div class="col-33">
          <div class="picker-group">
            <div class="picker-item">01</div>
            <div class="picker-item">02</div>
            <div class="picker-item">03</div>
            <div class="picker-item">04</div>
            <div class="picker-item">05</div>
            <div class="picker-item">06</div>
            <div class="picker-item">07</div>
            <div class="picker-item">08</div>`
            <div class="picker-item">09</div>
            <div class="picker-item">10</div>
          </div>
        </div>
      </div>
      <div class="picker-highlight"></div>
    </div>
  </div> -->


</div>

<script>

mc.datePicker('.input-date', {
  yearCols: [2015, 2016, 2017, 2018],
  callback: (res) => {
    console.log(res);
  }
});

mc.datePicker('.input-date-time', {
  titleDisplay: false,
  type: 'date-time'
});

mc.datePicker('.input-date-custom', {
  date: '2015-05-01',
  contentPickerItemShowNum: 3
});

</script>
</body>
</html>