<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
  <title>icon</title>
</head>
<body>

<div id="root">


  <h3 class="ui-title"><span>状态-图标</span></h3>

  <div class="content-box">
    <i class="icon icon-success"></i>
    <i class="icon icon-error"></i>
    <i class="icon icon-info"></i>
    <i class="icon icon-warn"></i>
    <i class="icon icon-waiting"></i>
    <i class="icon icon-loading"></i>
    <i class="icon icon-loading icon-loading-white"></i>
    <i class="icon icon-loading icon-loading-dot"></i>
    <p>分别为：success、error、info、warn、waiting、loading、loading-dot</p>
  </div>


  <h3 class="ui-title"><span>动作-图标</span></h3>

  <div class="content-box">
    <i class="icon icon-search"></i>
    <i class="icon icon-cancel"></i>
    <i class="icon icon-download"></i>
    <i class="icon icon-back-top"></i>
    <i class="icon icon-refresh-arrow"></i>
    <p>分别为：search、cancel、download、back-top、refresh-arrow</p>
  </div>

  <div class="content-box">
    <i class="icon icon-add"></i>
    <i class="icon icon-reduce"></i>
    <i class="icon icon-unfold"></i>
    <i class="icon icon-fold"></i>
    <i class="icon icon-back"></i>
    <i class="icon icon-forward"></i>
    <i class="icon icon-pwd-open"></i>
    <i class="icon icon-pwd-close"></i>
    <p>分别为：add、reduce、unfold、fold、back、forward、pwd-open、pwd-close</p>
  </div>

  <div class="content-box">
    <i class="icon icon-appreciate"></i>
    <i class="icon icon-appreciate-fill"></i>
    <i class="icon icon-love"></i>
    <i class="icon icon-love-fill"></i>
    <i class="icon icon-star"></i>
    <i class="icon icon-star-fill"></i>
    <p>分别为：appreciate、appreciate-fill、love、love-fill、star、star-fill</p>
  </div>


  <h3 class="ui-title"><span>场景-图标</span></h3>

  <div class="content-box">
    <i class="icon icon-home"></i>
    <i class="icon icon-setting"></i>
    <i class="icon icon-username"></i>
    <i class="icon icon-password"></i>
    <i class="icon icon-message"></i>
    <i class="icon icon-cart"></i>
    <i class="icon icon-location"></i>
    <i class="icon icon-calendar"></i>
    <i class="icon icon-card"></i>
    <i class="icon icon-redpacket"></i>
    <p>分别为：home、setting、username、password、message、cart、location、calendar、card、redpacket</p>
  </div>


</div>

</body>
</html>