<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
  <title>pop-loader</title>
</head>
<body>

<div id="root">


  <h3 class="ui-title"><span>loader</span></h3>

  <div class="content-box">
    <p><a href="javascript:;" class="button button-loader">显示loader</a></p>
  </div>

  <div class="content-box">
    <p><a href="javascript:;" class="button button-loader-callback">加载loader后回调</a></p>
  </div>

  <!-- <div class="pop-mask pop-mask-in pop-mask-transparent"></div>

  <div class="pop-loading">
    <div class="pop-loading-content">
      <i class="icon icon-loading icon-loading-white"></i>
      <div class="pop-loading-text">加载中...</div>
    </div>
  </div> -->


</div>

<script>
$('.button-loader').on('click', function() {
  mc.showLoader();

  setTimeout(function () {
    mc.hideLoader();
  }, 2000);
});

$('.button-loader-callback').on('click', function() {
  mc.showLoader();

  setTimeout(function () {

    mc.hideLoader(function() {
      mc.showDialog({
        title: 'Lorem Ipsum',
        text: 'Lorem Ipsum，也称乱数假文或者哑元文本， 是印刷及排版领域所常用的虚拟文字。'
      });
    });

  }, 2000);
});
</script>
</body>
</html>