<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
  <title>search</title>
</head>
<body>

<div id="root">


  <h3 class="ui-title"><span>搜索</span></h3>

  <div class="content-box">
    <form action="">
      <div class="search">
        <div class="search-input">
          <i class="icon icon-search"></i>
          <input type="search" placeholder="请输入要搜索的内容" />
        </div>
        <button class="button-search" type="submit">搜索</button>
      </div>
    </form>

    <form action="">
      <div class="search">
        <div class="search-input">
          <input type="search" placeholder="请输入要搜索的内容" />
        </div>
        <button class="button-search button-icon" type="submit"><i class="icon icon-search"></i>搜索</button>
      </div>
    </form>
  </div>



</div>

</body>
</html>